{include file="public/_meta"}

<title>新建网站角色 - 管理员管理 </title>

</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-admin-role-add" url="{:url('role/edit')}?id={$roleData.id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder=""  name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="content">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色权限：</label>

			<div class="formControls col-xs-8 col-sm-9">
				{volist name="permissionData" id="vo"}
				<dl class="permission-list">
					<dt>
						<label>
							<input type="checkbox" value="{$vo.id}" name="per_id[]" id="user-Character-1" >
							{$vo.name}</label>
					</dt>
					<?php foreach($vo['child'] as $k => $v): ?>
					<dd>
						<dl class="cl permission-list2">
							<dt>
								<label class="">
									<input type="checkbox" value="{$v.id}" name="per_id[]" id="user-Character-1-0">
									{$v.name}</label>
							</dt>
							<dd>
								<?php foreach($v['child'] as $k1 => $v1): ?>
								<label class="">
									<input type="checkbox" value="{$v1.id}" name="per_id[]" id="user-Character-1-0-0">
									{$v1.name}</label>
								<?php endforeach; ?>
							</dd>
						</dl>
					</dd>
					<?php endforeach; ?>
				</dl>
				{/volist}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"} <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-role-add").validate({
		rules:{
			name:{
                required:true,
                maxlength:30
			},
            content:{
                maxlength:150
            },
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
		    jiihome_save(form);
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>