{
    "swagger": "2.0",
    "info": {
        "title": "\u51e0\u548c\u540e\u7aefAPI\u6587\u6863",
        "version": "2.0"
    },
    "host": "jiihome.shimentown.com",
    "schemes": [
        "http"
    ],
    "paths": {
        "/captcha": {
            "get": {
                "summary": "\u83b7\u53d6\u9a8c\u8bc1\u7801\u63a5\u53e3",
                "description": "\u8fde\u63a5\u540e\u53ef\u4ee5\u643a\u5e26\u4efb\u610f\u53c2\u6570\u5237\u65b0\u9a8c\u8bc1\u7801",
                "responses": {
                    "\u8fd4\u56de\u9a8c\u8bc1\u7801\u56fe\u7247": {
                        "description": "\u8fd4\u56de\u9a8c\u8bc1\u7801\u56fe\u7247"
                    }
                }
            }
        },
        "/platformMgmt/admin": {
            "get": {
                "summary": "\u83b7\u53d6\u7ba1\u7406\u5458\u5217\u8868\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650,\u4e0d\u9700\u8981\u4f20\u53c2",
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650"
                    }
                }
            },
            "post": {
                "summary": "\u6dfb\u52a0\u7ba1\u7406\u5458",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7ba1\u7406\u5458\u7528\u6237\u540d,\u4e0d\u5f97\u8d85\u8fc730\u5b57\u7b26",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801\uff0c\u4e0d\u5f97\u4f4e\u4e8e6\u4f4d\u5b57\u7b26",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "password2",
                        "in": "formData",
                        "description": "\u5bc6\u7801\u786e\u8ba4\uff0c\u5fc5\u987b\u4e0epassword\u76f8\u540c",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "type": "string"
                    },
                    {
                        "name": "role_id[]",
                        "in": "formData",
                        "description": "\u6240\u5c5e\u89d2\u8272\uff0c\u4e3a\u4e00\u4e2a\u4e00\u7ef4\u6570\u7ec4,\u53ef\u4f20\u591a\u4e2a",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/admin/{id}": {
            "get": {
                "summary": "\u83b7\u53d6\u7ba1\u7406\u5458\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7ba1\u7406\u5458ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            },
            "delete": {
                "summary": "\u5220\u9664\u7ba1\u7406\u5458",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7ba1\u7406\u5458ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/admin/{id}/edit": {
            "get": {
                "summary": "\u4fee\u6539\u7ba1\u7406\u5458\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7ba1\u7406\u5458Id",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "\u7ba1\u7406\u5458\u7528\u6237\u540d,\u4e0d\u5f97\u8d85\u8fc730\u5b57\u7b26",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "\u5bc6\u7801\uff0c\u4e0d\u5f97\u4f4e\u4e8e6\u4f4d\u5b57\u7b26,\u7a7a\u767d\u5219\u4e0d\u4fee\u6539",
                        "type": "string"
                    },
                    {
                        "name": "password2",
                        "in": "query",
                        "description": "\u5bc6\u7801\u786e\u8ba4\uff0c\u5fc5\u987b\u4e0epassword\u76f8\u540c",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "\u624b\u673a\u53f7",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "\u90ae\u7bb1",
                        "type": "string"
                    },
                    {
                        "name": "role_id[]",
                        "in": "query",
                        "description": "\u6240\u5c5e\u89d2\u8272\uff0c\u4e3a\u4e00\u4e2a\u4e00\u7ef4\u6570\u7ec4",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/admin/setPassword": {
            "post": {
                "summary": "\u4fee\u6539\u4e2a\u4eba\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55",
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7ba1\u7406\u5458\u7528\u6237\u540d,\u4e0d\u5f97\u8d85\u8fc730\u5b57\u7b26",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "old_password",
                        "in": "formData",
                        "description": "\u539f\u59cb\u5bc6\u7801",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801\uff0c\u4e0d\u5f97\u4f4e\u4e8e6\u4f4d\u5b57\u7b26,\u7a7a\u767d\u5219\u4e0d\u4fee\u6539",
                        "type": "string"
                    },
                    {
                        "name": "password2",
                        "in": "formData",
                        "description": "\u5bc6\u7801\u786e\u8ba4\uff0c\u5fc5\u987b\u4e0epassword\u76f8\u540c",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "type": "string"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55"
                    }
                }
            }
        },
        "/platformMgmt/admin/setStatus": {
            "post": {
                "summary": "\u8bbe\u7f6e\u7ba1\u7406\u5458\u72b6\u6001",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u7ba1\u7406\u5458ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/login": {
            "post": {
                "summary": "\u540e\u53f0\u767b\u9646",
                "description": "\u540e\u53f0\u7cfb\u7edf\u767b\u9646\u529f\u80fd\uff0c\u8fd4\u56de\u4e8c\u7ea7\u6743\u9650\u5217\u8868",
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u7528\u6237\u5bc6\u7801",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "\u9a8c\u8bc1\u7801",
                        "required": "true",
                        "type": "string"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636e\u4e8c\u7ea7\u6743\u9650\u5217\u8868data\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a2 \u65f6\u5219\u5df2\u7ecf\u767b\u9646\u72b6\u6001 "
                    }
                }
            }
        },
        "/platformMgmt/login/logout": {
            "get": {
                "summary": "\u9000\u51fa\u540e\u53f0\u767b\u9646",
                "description": "\u540e\u53f0\u7cfb\u7edf\u767b\u9646\u529f\u80fd\uff0c\u8fd4\u56de\u4e8c\u7ea7\u6743\u9650\u5217\u8868",
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b "
                    }
                }
            }
        },
        "/platformMgmt/permission": {
            "get": {
                "summary": "\u83b7\u53d6\u6743\u9650\u5217\u8868\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650,\u4e0d\u9700\u8981\u4f20\u53c2",
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            },
            "post": {
                "summary": "\u6dfb\u52a0\u6743\u9650",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "\u6743\u9650\u540d,\u4e0d\u5f97\u8d85\u8fc730\u5b57\u7b26",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "parent_id",
                        "in": "formData",
                        "description": "\u4e0a\u7ea7\u6743\u9650ID",
                        "required": "true",
                        "type": "number"
                    },
                    {
                        "name": "module_name",
                        "in": "formData",
                        "description": "\u6a21\u677f\u540d\u79f0",
                        "type": "string"
                    },
                    {
                        "name": "controller_name",
                        "in": "formData",
                        "description": "\u63a7\u5236\u5668\u540d\u79f0",
                        "type": "string"
                    },
                    {
                        "name": "action_name",
                        "in": "formData",
                        "description": "\u65b9\u6cd5\u540d",
                        "type": "string"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/permission/{id}": {
            "get": {
                "summary": "\u83b7\u53d6\u6743\u9650\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u6743\u9650ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            },
            "delete": {
                "summary": "\u5220\u9664\u6743\u9650",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u6743\u9650ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/permission/getChild": {
            "post": {
                "summary": "\u83b7\u53d6\u6743\u9650\u5b50\u96c6\u53ca\u672c\u8eab",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "\u6743\u9650ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/permission/{id}/edit": {
            "get": {
                "summary": "\u4fee\u6539\u6743\u9650\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u6743\u9650Id",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "\u6743\u9650\u540d,\u4e0d\u5f97\u8d85\u8fc730\u5b57\u7b26",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "parent_id",
                        "in": "query",
                        "description": "\u4e0a\u7ea7ID",
                        "required": "true",
                        "type": "number"
                    },
                    {
                        "name": "module_name",
                        "in": "query",
                        "description": "\u6a21\u677f\u540d\u79f0",
                        "type": "string"
                    },
                    {
                        "name": "controller_name",
                        "in": "query",
                        "description": "\u63a7\u5236\u5668\u540d\u79f0",
                        "type": "string"
                    },
                    {
                        "name": "action_name",
                        "in": "query",
                        "description": "\u65b9\u6cd5\u540d",
                        "type": "string"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/role": {
            "get": {
                "summary": "\u83b7\u53d6\u89d2\u8272\u5217\u8868\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650,\u4e0d\u9700\u8981\u4f20\u53c2",
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            },
            "post": {
                "summary": "\u6dfb\u52a0\u89d2\u8272",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "\u89d2\u8272\u540d\uff0c\u4e0d\u5f97\u91cd\u590d",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "content",
                        "in": "formData",
                        "description": "\u5bf9\u89d2\u8272\u7684\u63cf\u8ff0",
                        "type": "string"
                    },
                    {
                        "name": "per_id[]",
                        "in": "formData",
                        "description": "\u5bf9\u5e94\u6743\u9650id\uff0c\u4e00\u7ef4\u6570\u7ec4",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/role/{id}": {
            "get": {
                "summary": "\u83b7\u53d6\u89d2\u8272\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u89d2\u8272ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\u8fd4\u56de\u6570\u636edata\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            },
            "delete": {
                "summary": "\u5220\u9664\u89d2\u8272",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u89d2\u8272ID",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        },
        "/platformMgmt/role/{id}/edit": {
            "get": {
                "summary": "\u4fee\u6539\u89d2\u8272\u4fe1\u606f",
                "description": "\u8bf7\u6c42\u8be5\u63a5\u53e3\u9700\u8981\u5148\u767b\u5f55\u5e76\u4e14\u6709\u6b64\u6743\u9650\u3002",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "\u7ba1\u7406\u5458Id",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "\u89d2\u8272\u540d\uff0c\u4e0d\u5f97\u91cd\u590d",
                        "required": "true",
                        "type": "string"
                    },
                    {
                        "name": "content",
                        "in": "query",
                        "description": "\u5bf9\u89d2\u8272\u7684\u63cf\u8ff0",
                        "type": "string"
                    },
                    {
                        "name": "per_id[]",
                        "in": "query",
                        "description": "\u5bf9\u5e94\u6743\u9650id\uff0c\u4e00\u7ef4\u6570\u7ec4",
                        "required": "true",
                        "type": "number"
                    }
                ],
                "responses": {
                    "\u8fd4\u56dejson\u6570\u7ec4,\u5305\u542b\u72b6\u6001\u7801status,\u63cf\u8ff0message\uff0c\u6570\u636edata\uff0c\u4ee5\u53ca\u5934\u90e8httpCode": {
                        "description": "\u72b6\u6001\u7801\u4e3a 1 \u65f6\u6210\u529f\uff1b\u4e3a 0 \u65f6\u5931\u8d25\u5e76\u8fd4\u56de\u63d0\u793a\u5931\u8d25\u539f\u56e0message\uff1b\u4e3a -1 \u65f6\u4e3a\u672a\u767b\u5f55\uff1b\u4e3a -2 \u65f6\u4e3a\u65e0\u6b64\u6743\u9650 "
                    }
                }
            }
        }
    },
    "definitions": {}
}